<form action="/add" method="POST">
  <p>Título: </p>
  <input type="text" name="titulo" id="">
  <p>Post:</p>
  <div class="flex-box">
  <input type="text" name="conteudo" id="">
  <button type="submit">Cadastrar postagem</button>
  </div>
</form>